.erreur__body{

    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.erreur__title {
    font-family: 'Commissioner', sans-serif;
    font-size: var(--heading-1);
    font-weight: 900;
    color: orange;
    margin: 3rem;
}

.erreur__text {
    font-family: 'Comfortaa', sans-serif;
    font-size: var(--body-1);
    margin-bottom: 20px;
    color: #777;
}

.erreur__link {
    color: #428bca;
    text-decoration: none;
}

.erreur__link:active {
    text-decoration: underline;
}