.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;
}

.index__title {
    font-family: 'Commissioner', sans-serif;
    font-weight: 900;
    text-align: center;
    color: orange;
    margin-bottom: 2rem;
}

.index__link {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(55, 86, 98);
}

.index__element {
    list-style-type: none;
    margin: 1rem 0rem 0rem 0rem;
    padding: 0;
    text-align: center;
}

.index__list {
    padding: 0;
}